<div class="bg">
    <div class="container">
        <div class="jumbotron">
            <h1>Demo 1</h1>
            <ul>
                <li>Require</li>
                <li>Backbone</li>
                <li>ReactJS</li>
                <li>handlebars</li>
            </ul>
        </div>
    </div>
</div>